*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-size: 1rem;
}

body {
    line-height: 1.5;
}

:root {
    /* colors */
    --text-color: #222831b7;
    --main-color: #2ecc71;
    --submit-hover: #1c9950;
    --secondary: #2c3e50;
    --navbar-color: #313132;
    --color-white: white;
    --background-color: #555;
    --border-color: #cccccc;
    --a-background-hover-icon: #f8f9fa;
    --section-background-color: #f2f2f2;
    --submit-footer-icon-background: #191e22;
    --slideshow-background: #f1f1f1f1;
    /* space */
    --padding-big: 6rem;
    --padding-normal: 1rem;
    --padding-small: .5rem;
    --side-font: 0.875rem;
}


/* ============================ reusable classes ============================ */

.custom__outline:focus {
    outline: none;
}

.padding-top-bottom {
    padding: var(--padding-big, 6rem) 0;
}

.custom__background {
    background-color: var(--section-background-color, #f2f2f2);
}

.custom__underline {
    position: relative;
}

.custom__underline::before {
    content: attr(data-title);
    position: absolute;
    padding: 0 0 5px 0;
    width: 0;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 2px solid var(--main-color, #2ecc71);
    transition: width .3s ease, color .3s ease;
}

.custom__underline:hover::before {
    width: 100%;
    color: var(--main-color, #2ecc71);
    transition: width .3s ease, color .3s ease;
}

.h2__style {
    color: rgba(0, 0, 0, 0.6);
}

.header .custom__button,
.resume .custom__button {
    padding: var(--font-size-small, 1.50rem);
    overflow: hidden;
    display: inline-block;
    margin-top: var(--font-size, 2.25rem);
    color: var(--main-color, #2ecc71);
    border-color: var(--main-color, #2ecc71);
    text-decoration: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
    transition: background-color .3s ease, border-color .3s ease;
}

.custom__button:hover {
    color: var(--color-white);
    background-color: var(--main-color, #2ecc71);
    border-color: var(--main-color, #2ecc71);
}

.custom__shadow {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.270);
}


/* ============================ setting sidebar  ============================*/

.color-container {
    display: inline-block;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 50%;
    left: -240px;
    width: 240px;
    font-size: var(--side-font, 0.875rem);
    transform: translateY(-60%);
    background-color: var(--color-white);
    box-shadow: 0.1rem 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.170);
    z-index: 999;
    transition: left 0.3s ease;
}

.color-container.show {
    left: 0;
    transition: left 0.3s ease;
}

.color-container .custom-span {
    transform: translate(-50%, -50%);
    height: 15px;
    cursor: pointer;
    width: 15px;
    padding: 16px;
    /* top: 16.5px; */
    top: 15.8px;
    right: -47px;
    background-color: white;
    position: absolute;
    box-shadow: 0.05rem 0.05rem 0rem 0.01rem rgba(0, 0, 0, 0.170);
}

.color-container p {
    padding: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.color-list-style {
    list-style: none;
    margin: 20px;
    display: inline-flex;
}

.color-list-li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    padding: 15px;
}

ul.color-list-default li:first-child {
    background-color: #2ecc71;
}

.color-list-style li:first-child {
    background-color: #fb7813;
}

.color-list-style li:nth-child(2) {
    background-color: #f54291;
}

.color-list-style li:nth-child(3) {
    background-color: #0779e4;
}

.color-list-style li:nth-child(4) {
    background-color: #efa8e4;
}

.color-list-style li:last-child {
    background-color: #fd5e53;
}


/* ============================ start navbar ============================*/

.navbar {
    transition: background 0.3s ease-in-out;
}

.navbar .nav-link:hover .custom__underline::before {
    width: 100%;
    color: var(--main-color, #2ecc71);
    transition: width .3s ease, color .3s ease;
}

.nav-transparent {
    background-color: transparent;
}

.navbar.nav-colored {
    background-color: var(--navbar-color, #313132);
}

.navbar .logo span {
    color: var(--main-color, #2ecc71);
}


/* ============================ start header ============================ */

.header {
    align-items: center;
    display: flex;
    padding-top: calc(var(--padding-big, 6rem) + 94px);
    padding-bottom: var(--padding-big, 6rem);
    text-align: center;
    color: var(--color-white);
    height: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/image.jpg");
    background-repeat: no-repeat;
    /*  this line may cause an issue on mac users  */
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.header-info h1 {
    font-family: "Sacramento", cursive;
    font-size: 4rem;
    text-transform: capitalize;
}

.header-info p,
.header-info a,
.resume a {
    line-height: 2.25rem;
    color: var(--color-white);
    margin-top: 1.50rem;
    font-size: 1.50rem;
    font-weight: 300;
    text-transform: capitalize;
}

.header .custom__button {
    border: 2px solid var(--border-color);
    color: var(--color-white);
}

.header .custom__button:hover {
    border: 2px solid var(--main-color);
}


/*============================ start portfolio ============================ */

.custom__active {
    color: var(--main-color);
}

.gallery__list--item {
    transition: color .3s ease;
}

.gallery__list--item:hover {
    cursor: pointer;
    color: var(--main-color);
}

.gallery__list--item:not(:last-child)::after {
    content: '/';
    display: inline-block;
    margin-left: .7rem;
    color: rgba(0, 0, 0, 0.2);
}

.portfolio .card__image {
    height: 300px;
    width: 100%;
}

.portfolio .card-item h3 {
    color: var(--main-color);
}

@media(max-width: 767px) {
    .lead {
        font-size: 1rem;
    }
}

@media(max-width: 400px) {
    .portfolio .card-item h3 {
        font-size: 1.20rem;
    }
}

@media (min-width: 768px) {
    .gallery__list--item {
        font-size: 1.1rem;
    }
    .portfolio .card-item h3 {
        color: var(--main-color);
        font-size: 1.5rem;
    }
}

.portfolio .card-item .link-holder a {
    color: var(--main-color, #2ecc71);
    border: 1px solid var(--main-color);
    text-decoration: none;
    border-radius: 4px;
    font-weight: 700;
    float: right;
    font-size: 1rem;
    text-transform: capitalize;
}

.portfolio .card-item .link-holder a:hover {
    background-color: var(--main-color, #2ecc71);
    border: 1px solid var(--main-color);
    color: white;
    font-weight: bold;
    -webkit-animation: heartbeat .5s infinite linear;
    -moz-animation: heartbeat .5s infinite linear;
    animation: heartbeat .5s infinite linear;
}

@media(max-width: 767px) {
    .portfolio .card-item .link-holder a {
        border-radius: 0;
        font-weight: 700;
        width: 100%;
    }
}


/* ============================  start skills  ============================*/

.skill__icon {
    height: 6em;
    width: 6em;
}


/*============================  start about me ============================  */

@media (min-width: 768px) {
    .service-item>h3 {
        font-size: 1.5rem;
    }
}

@media(max-width: 400px) {
    .about-me .service-item>.h2__style {
        font-size: 1.20rem;
    }
}

.service-item>figure img {
    height: 150px;
    width: 180px;
    max-height: 150px;
}

.service-detail {
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: var(--main-color, #2ecc71);
    color: var(--color-white, white);
    transition: left .3s ease;
}

.service-item:hover .service-detail {
    left: 0;
}


/* ============================  start resume ============================ */

.resume::before {
    content: "";
    border: 60px solid var(--section-background-color, #f2f2f2);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 106%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.resume .custom__button {
    border: 2px solid var(--main-color);
}


/**
*
*********************************** contact section ***********************************
*
**/

.contact .my__form input[type="text"],
.contact .my__form input[type="email"],
.contact .my__form textarea {
    border: none;
    border-bottom: 1px solid #cccccc;
    box-shadow: none;
    border-radius: 0;
}

.contact .my__form .textarea__group,
.contact .my__form textarea {
    height: 100%;
}

@media (max-width: 991px) {
    .contact .my__form .textarea__group,
    .contact .my__form textarea {
        height: 200px;
    }
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    width: 150px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    border: none;
    background-color: var(--submit-hover);
}

.hidden {
    display: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="submit"]:focus {
    font-weight: 500;
    outline: 1px solid var(--main-color);
}


/*============================ start footer section ============================*/

.footer {
    background-color: var(--navbar-color, #313132);
    font-weight: 500;
}

.footer__h2 {
    color: rgba(255, 255, 255, 0.6);
}

a.footer__icon {
    color: var(--color-white);
    font-size: 24px;
    border: 2px solid var(--border-color);
    height: 60px;
    width: 60px;
    top: 0;
    transition: background-color .3s ease, color .3s ease, top 0.3s ease;
}

a.footer__icon:hover {
    top: -5px;
    color: var(--submit-footer-icon-background, #191e22);
    background-color: var(--section-background-color, #f2f2f2);
}


/*============================ start copyright section ============================*/

.copyright {
    background-color: var(--submit-footer-icon-background, #191e22);
    color: var(--color-white);
}


/* ============================  media query   ============================ */


/* Extra small devices (phones, 576px and down) */

@media only screen and (max-width: 576px) {
    .header .header-info a,
    .resume a {
        font-size: var(--font-size-info, 1.35rem);
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    html {
        font-size: 1.25rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .card-item>p {
        padding: var(--padding-normal, 1rem);
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 1024px) {
    .hero-section .hero-image-holder {
        background-attachment: local !important;
    }
}


/* ============================ animation   ============================ */

@-webkit-keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartbeat {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}