.contact .my__form input[type="text"],
.contact .my__form input[type="email"],
.contact .my__form textarea {
  border: none;
  border-bottom: 1px solid #cccccc;
  box-shadow: none;
  border-radius: 0;
}

.contact .my__form .textarea__group,
.contact .my__form textarea {
  height: 100%;
}

@media (max-width: 991px) {
  .contact .my__form .textarea__group,
  .contact .my__form textarea {
    height: 200px;
  }
}

input[type="submit"].custom__submit {
  /* background-color: var(--main-color); */
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  width: 150px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

input[type="submit"].custom__submit:hover {
  border: 1px solid #00d2ff;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.hidden {
  display: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
.form-control:focus,
input[type="submit"]:focus {
  font-weight: 500;
  outline: 1px solid #00d2ff;
}
